/*CONTENT STYLES – Index*/

/*Citat*/
    #citat {
        text-align: center;
        color: #3E4076;
        font-family: GothamBlack;
        font-size: 25px;
        margin: 50px;
    }

    cite {
        font-family: yeonpilsketch,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
    }


/*About me*/
    .portraet {
        width: 100vw;
        height: auto;
        padding: 2vh 15vw;
    }

    .tekstboks1 {
        background-color: #FFEFEF;
        border-radius: 60px;
        width: 90vw;
        height: auto;
        margin: auto;
        padding: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tekstboks1 p {
        margin: auto;
        margin-bottom: 3vh;
        text-align: justify;
        width: 70vw;
        height: 300px;
        overflow: scroll;
    }


/*Portfolio*/
    #portfolio {
        background-color: #3E4076;
        padding: 5vh 0vh;
    }
        
    .tekstboks2 {
        width: 100vw;
        height: auto;
    }
    
    .tekstboks2 h1 {
        color: #FFCCCC;
    }

    .tekstboks2 p {
        margin: 8vw;
        padding-bottom: 10vh;
        color: #FFEFEF;
        text-align: justify;
    }

    /*Slider*/
        .slider {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: row;
            overflow:scroll;
        }

        .slider li {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .slid-img {
            background-color:#FFEFEF;
            border-style: none;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            margin: 5vw;
        }

        .slid-img:hover {
            background-color: white;
        }


/*Mobile – Based on iPhone 8+ (414 x 736)*/
@media screen and (min-width: 415px) {
    
    body {
        background-color: lightblue;
    }

    nav {
        display: flex;
    }
}

/*Tablet – Based on iPad (768 x 1024)*/
@media screen and (min-width: 769px) {
    body {
        background-color: palegoldenrod;
    }
    
}


/* Desktop 1 – Based on Web 1920 (1080 x 1920)*/
@media screen and (min-width: 1081px) {
    body {
        background-color: palegreen;
    }
}


/*Desktop 2 – Based on MacBook Pro 2021 (1890 x 3024)*/
@media screen and (min-width: 1891px) {
    body {
        background-color: plum;
    }
}